<html>
<head>
    <title>Create New Restaurant</title>
</head>
<body>
<form action="/insert" method="post"  enctype="multipart/form-data">

       Name: <input name="name" type="text"><br>
       Borough: <input name="borough" type="text"><br>
       Cuisine: <input name="cuisine" type="text"><br>
       Street: <input name="street" type="text"><br>
       Building: <input name="building" type="text"><br>
       zip code: <input name="zipcode" type="text"><br>
       GPS Coordinates(lon): <input name="lon" type="text"><br>
       GPS Coordinates(lat):<input name="lat" type="text"><br>
       Photo: <input name="sampleFile" type="file"><br>
        <input type="submit" value="create">
</form>
</body>
</html>
